html{background-image: url(https://i.redd.it/2lmnl7k2i7b41.jpg);}


@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Finger Paint', sans-serif;}
    
h2{
    font-family: 'Finger Paint', sans-serif;
    text-align: center;}

h3{
    font-family: 'Finger Paint', sans-serif;
    text-align: center;}

h4{
    font-family: 'Finger Paint', sans-serif;
    text-align: center;}




img{
    border: 4px black solid;
    background-color: white;
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: 100px;
}

.group1{
    font-family: 'Finger Paint', sans-serif;
    background-color: white;
}

.ytvid{
    display: block;
    margin-top: -700px;
    margin-bottom: auto;
    margin-left: 500px
}

table{
    font-family: 'Finger Paint', sans-serif;    
    display: block;
    margin-top: 10px;
    margin-bottom: auto;
}

.list{
    font-family: 'Finger Paint', sans-serif;
    text-align: center;
   font-size: larger;
    color: white;
    
}

h6{
    font-family: 'Finger Paint', sans-serif;
    text-align: center;
    font-size: medium;
     color: white;
    }



